/*_________________
Reset
__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*_________________
Typo
__________________*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*_________________
Common
__________________*/

:root {
    --neronero: #000000;
    --nerino: #141922;
    --nero: #080b12;
    --gribar: #fbfbfb;
    --grigiobar: #c8c8c8;
    --grigiospento: #c1c1c1;
    --grigino: #d2d2d2;
    --grigetto: #878787;
    --grigione: #7d7f84;
    --grigioni: #6e6e6e;
    --grigissimo: #282828;
    --bianco: #ffffff;
    --verdacido: #adff2f;
}

a {
    text-decoration: none;
    color: var(--grigioni);
    cursor: pointer;
}

ul li {
    list-style: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.in-bl {
    display: inline-block;
}

a {
    text-decoration: none;
}

/*_________________
Main
__________________*/

.container-dischi {
    width: 100%;
    background-color: var(--nerino);
}

.copertina-disco i {
    font-size: 3.75rem;
    position: relative;
    top: -12.5rem;
    left: 6.25rem;
}

/*_________________
Header
__________________*/

#header {
    height: 5.625rem;
    background-color: var(--nero)
}

/*___________________
Header Logo e Upgrade
__________________*/

.header-centro {
justify-content: space-between;
align-items: center;
padding: .625rem .3125rem 0 .3125rem;;
}


#btn-upgrade {
    color: var(--bianco);
    background-color: var(--neronero) ;
    border: .125rem solid var(--bianco) ;
    border-radius: 1.25rem;
    padding: .625rem 2.5rem .625rem 2.5rem ;
}

/*_________________
Menu Navigazione
__________________*/

.container-centro {
    width: 70%;
}

.nav-centro {
    flex-wrap: wrap;
}

.proposte {
    color: var(--grigione);
    justify-content: center;
    padding: 1.25rem 0 2.5rem 0;
    gap: 1.875rem;
    font-weight: 700;
}

/*_________________
Aside sinistra
__________________*/

.container-aside {
    height: 100%;
    background-color: var(--neronero);
}

#nav-sx {
    width: 14.375rem;
    padding: 2.5rem 0 0 1.5625rem;
}

#logo {
    width: 8.125rem;
}

#nav-sx li,
#nav-sx a
 {
color: var(--grigetto);
padding: .3125rem;
}

.header-centro a,
.home a {
    color: var(--bianco);
    font-weight: 600;
}


/*_________________
Playlist sinistra
__________________*/

.playlist-sx i {
    color: var(--grigetto);
}

.crea-playlist,
.nome-playlist a {
    color: var(--grigetto);
    padding: .625rem 0 .625rem 0 ;
    line-height: 3.125rem;
}

.crea-playlist i{
    font-size: 2rem;
    justify-content: center;
}


/*_________________
Download sinistra
__________________*/

.download {
    color: var(--grigetto);
    border-bottom: .125rem solid var(--grigetto);
    border-width: 50%;
    padding: 1rem 0 1rem 0;
}

.utente-down {
    position: relative;
    top: 85rem;
}

/*_________________
Utente sinistra
__________________*/

.utente-sx {
    align-items: center;
}

#profilo {
    width: 1.25rem;
}

.nome-utente {
color: var(--grigetto);
padding: 1.25rem;
}

/*_________________
Main all
___________________*/

.disco {
    gap: 1.875rem;
    padding: 1.5625rem;
}

.info-disco {
    width: 18.75rem;
}

.categoria {
    padding: 1.875rem;
    font-size: 2.5rem;
}

.categoria p {
    font-size: 1rem;
    color: var(--grigino);
}

/*_________________
Main Recent
__________________*/

.recente {
    color: var(--bianco)
}

/*_________________________________
Main Consigli - Creato per utente
_________________________________*/

.consigli {
    color: var(--bianco)
}

/*________________________________
Main Popular - Artisti popolari
________________________________*/



/*________________
Footer
________________*/

.container-footer {
    width: 100%;
    background-color: var(--grigissimo);
    color: var(--bianco);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.col1-footer {
    width: 20%;
}

.footer-riga1 {
    justify-content: space-between;
    color: var(--bianco);
    gap: .625rem;
}

.col1-footer img {
    width: 6.25rem;
}

.titolo-disco {
    padding-left: .625rem;
}

.col2-footer,
.player-footer,
.col4-footer {
    gap: 2rem;
}

.elapse {
    width: 19rem;
    height: .3125rem;
    background-color: var(--bianco);
    border-radius: .125rem;
    margin: 1rem;
}

.barra-volume {
    width: 8rem;
    height: .3125rem;
    background-color: var(--bianco);
    border-radius: .125rem;
    margin: 0.25rem 1.25rem 0.25rem 1.25rem;
}

.timer-footer {
    position: relative;
    right: 6.25rem;
}

/*________________
Responsivita
________________*/

@media screen and (max-width: 34.5rem ) {
 #logo img, li a {
    display: none;
 }

 .container-aside {
    width: 3.5rem;
 }

 .container-centro {
    width: 100%;
    margin: 0 auto;
 }

}

@media screen and (max-width: 40rem ) {
    #logo a, li a {
        display: n
     }
}

@media screen and (max-width: 54.875rem) {
    
}
