/*_________________
Reset
__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*_________________
Typo
__________________*/

body {
    font-family: 'Montserrat', sans-serif;
}

/*_________________
Common
__________________*/


/*_________________
Header
__________________*/


/*___________________
Header Logo e Upgrade
__________________*/


/*_________________
Menu Navigazione
__________________*/


/*_________________
Main Recent
__________________*/


/*_________________________________
Main Consigli - Creato per utente
_________________________________*/


/*________________________________
Main Popular - Artisti popolari
________________________________*/

/*_________________
Aside sinistra
__________________*/


/*_________________
Playlist sinistra
__________________*/


/*_________________
Download sinistra
__________________*/


/*_________________
Utente sinistra
__________________*/


/*________________
Footer
________________*/